.dashboard-container {
  background-color: cyan;
}

.dashboard-header {
  padding: 1em;
  display: flex;
  justify-content: center;
}

.media-container {
  display: flex;
  justify-content: center;
}

.live-chat {
  width: 30%;
}
