.app-logo {
  animation: app-logo-spin infinite 10s linear;
  height: 80px;
}

.app-header {
  background-color: blue;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-title {
  font-size: 1.5em;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
